/* .video-tile {
    margin: 0.5em;
    align-self: stretch;
    width: 100%;
  } */

  .video-grid{
    display: flex;
    flex-wrap: wrap;
    flex:25%;
    width: 100%;
    /* justify-content: center; */
  }

.video-title{
    color: white;
    text-decoration: none;
}
.video-sub-title{
    color: white;
    text-decoration: none;
  }