.ageItems{
    display: flex;
    list-style-type: none;
    text-decoration: none; 
    color:white;
    justify-content:space-evenly;
    width :100%;
    font-size: 14px;
    align-Items: center;
}
.ageBox{
    display : flex;
    align-items: center;
    width: 45%;
}
.ageItemActive{
    display: flex;
    list-style-type: none;
    text-decoration: none; 
    justify-content:space-evenly;
    width :100%;
    font-size: 14px;
    align-Items: center;
    color : gray;
    justify-content:space-evenly;
    background : white;
    border-radius : 50px;
    padding: .5%;
}
