
.genreItems{
    display: flex;
    list-style-type: none;
    text-decoration: none; 
    color:white;
    justify-content:space-evenly;
    width :100%;
    font-size: 14px;
    align-Items: center;
}
.genreBox{
   display : flex;
   align-items: center;
   width: 40%;
}
.sort-btn{
    
}
.genreItemsActive{

    display: flex;
    list-style-type: none;
    text-decoration: none; 
    justify-content:space-evenly;
    width :100%;
    font-size: 14px;
    align-Items: center;
    color : gray;
    justify-content:space-evenly;
    background : white;
    border-radius : 25px;
    padding: .5%;
}
